/RL/HW6/BarBrawl/nbproject/private/
/RL/HW6/BarBrawl/build/
/RL/HW6/BarBrawl/dist/
/RL/FinalProject/Soccer/nbproject/private/
/RL/FinalProject/Soccer/dist/
/RL/FinalProject/Soccer/build/
/RL/FinalProject/SoccerGame/nbproject/private/
/RL/FinalProject/SoccerGame/build/
/RL/FinalProject/SoccerGame/dist/
*.class
*.bdd
*.*~
